body{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    min-height: 100%;
    background-color: #AF8383;
    
}

header{
    display: grid;
    grid-template-columns: max-content auto;
    background-color: #602B2B;
    
}
header picture{
    align-items: center;
}
header section{
    display: flex;
    align-content: stretch;
    align-items: center;
}

header section picture{
    display: flex;
    flex-direction: row;
}

header div{
    display: flex;
    align-items: right;

}



header section picture img{
    width: 100%;
}

header div a:hover{
    text-decoration: underline;
}
main table{
    font-size: x-large;
    align-items: center;
    padding: 0%;
    margin: auto;
    margin-top: 5%;
}

main div{
    margin-top: 7%;
}

main div a{
    text-decoration: none;
    color: black;
}

main div picture{
    display: flex;
    align-items: center;
    margin-left: 43%;
}

main div h1{
    display: flex;
    align-items: center;
    margin-left: 43%;
}

