body{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    min-height: 100%;
    background-image: linear-gradient(#4E0D5F,#640A73 );
}

header{
    display: grid;
    grid-template-columns: max-content auto;
    border-bottom: 0.3rem solid #640A73;
}

header section{
    display: flex;
    align-content: stretch;
    align-items: center;
}

header section h1{
    margin: 0 1.5rem;
}

header section picture{
    display: flex;
    flex-direction: row;
}

header div{
    display: flex;
    margin-left: 18%;
    align-items: center;
}

header div a{
    text-decoration: none;
    margin: 0 1rem;
    color: black;
}

header section picture img{
    width: 100%;
}

header div a:hover{
    text-decoration: underline;
}

main table{
    font-size: x-large;
    align-items: center;
    padding: 0%;
    margin: auto;
    margin-top: 5%;
}


button{
    background-color: goldenrod;
    width: 60px;
    height: 25px;
    margin-left: 171%;
}

footer{
    width: 100%;
    margin: 0 auto;
    margin-left: 45%;
    max-width: 600px;
}

main h1{
    align-items: center;
    margin-left: 41%;
}